body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: aqua; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 0;
}

.counter {
    font-size: 5rem;
    padding: 2rem;
    margin: 0;
}

h1 {
    font-size: 8rem;
    margin: 2rem 0;
    margin-top: 5rem;
    color: green;
}

h2 {
    color: 
    #06356b;
}

button {
    font-size: 1.5rem;
    border: 0.2rem solid #003066;
    /* text-transform: lowercase; */
    margin: 0 1rem;
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.buttons {
    margin: 2rem;
    padding: 5rem;
    
}